#sequential_next_btn, .bsdcd-seq-breadcrumbs, #sequential_next_cont, #sequential_general_error_cont {
  display: none;
}

@include respond-min( $sequential-breakpoint ){

    .step-error a{
        color: $error-message-text-color !important;
    }
    #sequential_general_error_cont, #sequential_next_cont, .bsdcd-seq-breadcrumbs {
        display: none;
    }
    .sequential {
        .sequential_breadcrumb_payment{
            .qd-pay-step-num{
                display:none !important;
            }
        }
        #sequential_next_cont, .bsdcd-seq-breadcrumbs {
          display: block;
        }
        .bsdcd-form {
          height: auto;
          overflow: hidden;
          margin-top: -1px;
        }
        .general_error, .qd_info_section {
          display: none;
        }
        .mobile-only {
            display: none;
        }
        .bsdcd-seq-breadcrumbs {
            width: $section-total-width - (10 * 2);
            overflow:hidden;
            background: #fff;
            height: 85px;
            padding: 0 10px;
            margin: 0;
            border-bottom: 1px solid #000;
            font-size: 13px;
            border-bottom: 1px solid #d8d8d8;
            background: #f2f2f2;
            text-align:center;
            li {
                @include inline-block();
                vertical-align:middle;
                width: 110px;
                padding-top: 20px;
                list-style-type:none;
                position: relative;
                a {
                    text-decoration: none;
                    font-weight: bold;
                    cursor: default;
                    color: #b8b8b8;
                    span {
                      color: #fff;
                    }
                }
                &.active a span, &.completed a span {
                    text-decoration: none;
                    font-weight: bold;
                    cursor: pointer;
                    color: #fff;
                }
                &.active a, &.completed a {
                    cursor: pointer;
                    color: #555;
                }
                span {
                    display: block;
                    background: $step-inactive;
                    width: 30px;
                    height:28px;
                    line-height:30px;
                    border-radius: 30px;
                    font-weight: bold;
                    margin: 0 auto;
                    position:relative;
                    padding-top:2px;
                    .oldie & {
                        padding-top:0;
                    }
                    z-index:40;
                }
                &.active span, &.completed span {
                    background: $step-active;
                }
                hr {
                    position: absolute;
                    z-index:0;
                }
            }
        }
        .sequential_breadcrumb_amount hr {
            top: 37px;
            left: 50%;
            width: 200%;
        }
        #submit_cont, #sequential_donate_btn_copy {
            display: none;
        }
        #sequential_next_cont {
            width: 370px;
        }
        #bsd_contribute_form_fields_cont {
            position: relative;
            margin: 0;
        }
        .sequential_step {
            margin: 0;
            top:0;
        }
        #sequential_next_btn {
            text-decoration: none;
            text-align: left;
            padding-left: 35px;
            //background: url(/page/-/donate/right-arrow-white.png) center right no-repeat;
            color: #fff;
            display: block;
            padding: 10px 40px 10px 40px;
            text-align: center;
        }
        #sequential_next_btn_cont {
            //border-radius: 4px 25px 25px 2px!important;
            width: 135px;
            margin: auto auto;
            padding: 0!important;
        }
        #sequential_general_error_cont {
            text-align: center;
            width: 100%;
            p{
                margin-top:0;
            }
        }
        p.general_error {
            color: $error-message-text-color;
            font-weight: bold;
            font-size: 17px;
        }
        .sequential_step {
            width: $section-inner-width;
            opacity: 0;
            @include transition2( opacity, .3s , ease, left, .3s , ease );
            &.active {
                opacity: 1;
                z-index: 1;
            }
            &.inactive {
                position:absolute;
                opacity: 0;
                left:-$section-total-width;
                z-index:0;
            }
        }
        #sequential_payment_info {
            padding: 0;
            //padding: 0 20px;
            .qd_populated &{
                padding:20px 0 0;
            }
        }

        input.text.bsdcd-error, select.bsdcd-error {
            border: 2px solid $error-field-border-color !important;
        }
        &.sequential_step_2 .bsdcd-form {
            #sequential_donate_btn_copy {
                display: block;
            }
            #sequential_next_btn_copy {
                display: none;
            }
            #sequential_next_btn_cont {
                width: 230px;
            }
        }

        //hiding the second step when quick donate is active
        &.qd_populated .bsdcd-seq-breadcrumbs li{
            hr{
                left:50%;
                width:100%;
            }
            &.sequential_breadcrumb_name{
                display:none;
            }
            &.sequential_breadcrumb_payment{
                .qd-pay-step-num{
                    display:block !important;
                }
                .no-qd-pay-step-num, hr{
                    display:none;
                }
            }
        }
    }

    .sequential_error_message{
        margin:0 0 10px;
    }

    .sequential_error  #sequential_general_error_cont {
        display:block;
    }

    //no next button to start on amount selection
    .pre-first-click #sequential_next_cont {
        display:none;
    }

    .blue_contribute_processing #sequential_next_btn {
        cursor:default;
    }
}

/**/
.oldie {
    .sequential .sequential_step {
        display: none;
        &.active {
            display: block;
        }
    }
}
