#content{
    position:relative;
}

@include respond-min( $tablet ){
    .qd-login-links-section{
        top:-40px;   
    }
}

.preset_amount_label, .sequential_move_forward{
    font-family: futura-pt, Helvetica, Arial, sans-serif !important;
}


#content-left{
    float:left;
    background:white;
    padding:15px;
    width:410px;
    img{
        display:block;
        width:100%;
    }
}

.bsdcd-outer-container{
    float:left;
    margin-left:30px;
    padding-top:0;
}

#authentication{
    margin-top:30px;
}

#main{
    background-color: rgba($weird-green, 0.4);
}
#framework{
    overflow:hidden;
}