
$tools-directory: "/page/-/donate/";

/* Possible breakpoints */
    $phone: 320px;
    $widephone: 480px;
    $tablet: 640px;
    $desktop: 1000px;
    $widedesktop: 1200px;

    /* Assign a default size (for IE, or if the site is not responsive) */
        $default-viewport-size: $desktop;
        $viewport-width: false !default;

    /* Core breakpoints: where certain structural behaviors start */
    /* generally, sequential and form field breakpoints should be the same, but this is not a requirement */
        $form-field-layout: $tablet;
        $sequential-breakpoint: $tablet;


/*sizes*/

    /*main section*/
    $section-total-width: 445px;  //do yourself a favor and make sude this + $between-field-gutter = an even number
    $section-inner-side-padding: 30px;

    /*form spacing*/
    $label-bottom-margin: 5px;
    $form-container-bottom-margin: 20px;

    /*input sizes */
    $input-height: 28px; //FULL HEIGHT (as if box-sizing were border-box, even when it won't be)

    $input-border-width: 1px;
    $input-vertical-padding: 15px;
    $input-side-padding: 7px;

    $between-field-gutter: 15px; //do yourself a favor and make sude this + section-total-width = an even number


    /*tricksy field calculations*/
    $section-inner-width: $section-total-width - ($section-inner-side-padding * 2);
    $container-right-padding: ($input-border-width + $input-side-padding) * 2; //this is the extra space 100% fields will take up under content-box
    $full-width-field-container-width: $section-inner-width - $container-right-padding;
    $half-width-field-container-width: floor( ($section-inner-width - $between-field-gutter) / 2) - $container-right-padding;
    $fourth-width-field-container-width: floor((($half-width-field-container-width + $container-right-padding) - $between-field-gutter) / 2) - $container-right-padding;

/*colors*/

    // $gray: #b8b8b8;
    // $slate-gray: #2F4F4F;
    // $green: #197419;
    // $blue: #5F9F9F;
    // $orange: #E86D1F;
    // $purple: #621A4B;
    // $dark-purple: #411934;

    $red: #F00;
    $dim-red: #C41230;

    /*Step UI Colors*/
    $step-inactive: $gray;
    $step-active: $slate-gray;

    /*Button UI*/
    $button-normal: $blue;
    $button-active: $green;

    /*Validation*/
    $error-message-text-color: $dim-red;
    $error-field-border-color: $dim-red;

    /*MISC UI*/
    $question-mark-background: #666666;
    $question-mark-color: white;

    /*Sections*/
    $header-section-bg-color: #fff;
    $step-container-bg-color: #f2f2f2;
    $form-bg-color: #fff;

    /*Form Fields*/
    $form-field-bg-color: #f1f1f1;
    $form-field-focus-bg-color: #f3f3f3;

/*Effects*/
    $core-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.04);

/*Images*/
    //$giant-background-image: url(http://placehold.it/2000x1400);
    $giant-background-image-name: "demo-bg.jpg";
    $giant-background-image: url(#{$tools-directory}#{$giant-background-image-name});



