/*custom styles*/

body {
    @include respond-min( $form-field-layout ){
        background: #454545;
    }
}

.background-white{
    background:white;
    position:relative;
        border: 1px solid #f0f0f0;
        border-radius: 8px;
}

.two-col-intro{
    padding:20px;
    @include respond-min( $form-field-layout ){
        float:left;
        position:sticky;
        top:0;
    }
    .bsdcd-top-section{
        @include respond-min( $form-field-layout ){
            width:300px;
        }
        @include respond-min( $desktop ){
            width:510px;
        }
    }
    p{
        margin:10px 0;
    }
    img {
        display:block;
        width:100%;
    }
}

.base{
    h1{
        font-size:20px;
        margin-bottom:10px;
    }
    h2{
        font-size:16px;
    }
}

$logo-full-height: 80px;
$logo-full-width: 200px;

#main-header{
    margin: 0 auto;
    width:93%;
    @include respond-min( $form-field-layout ){
        width:auto;
    }
    .centered {
        position:relative;
        padding:10px 0;
    }
    h1 {
        background-image: url(http://placehold.it/#{strip-units($logo-full-width) * 2}x#{strip-units($logo-full-height) * 2});
        background-size:100%;
        width:50%;
        @include respond-min( $form-field-layout ){
            padding:0;
            height:$logo-full-height;
            width:$logo-full-width;
        }
        a{
            width:100%;
            height:0;
            padding-top: percentage( ($logo-full-height / $logo-full-width) );
            display:block; 
        }
    }
}




.qd-login-links-section{
    position:absolute;
    width:40%;
    right:2%;
    bottom:10px;
    @include respond-min( $form-field-layout ){
        bottom:10px;
    }    
}

#main-footer{
    text-align: center;
    padding: 10px;
}

.form_section_header{
    font-size:16px;
    font-weight:bold;
    text-align:center;
    padding-bottom:5px;
    border-bottom: 1px dotted $slate-gray;
}

.content-wrapper{
    @include respond-min( $form-field-layout ){
        margin:40px auto 20px;
    }
    @include respond-min( $desktop){
        width:$desktop;
    }
}

@include respond-min( $form-field-layout ){
    .bsdcd-outer-container{
        padding-bottom:0;
        float:right;
    }
    .bsdcd-form{
        background: #fafafa;
        border-radius: 0 8px 8px 0;
    }
    #main-header{
        background:#f0f0f0;
        .centered{
            margin:0 auto;
            max-width:$desktop;
        }
    }
    #main-footer{
        background: #F2F2F2;
    }
}