
<!-- BEGIN WRAPPER -->

        <footer class="footer">
        <div class="container">
            <header class="element-invisible">
                <h2>Footer Navigation</h2>
            </header>
            <div class="l-footer__col-1 chop-logo--footer">
                <div class="panel-pane pane-custom pane-1" >
                    <p class="footer__copy">34th St and Civic Center Blvd<br/>Philadelphia, PA 19104</p>
                    <ul class="footer__social">
                        <li class="footer__social-item"><a  title="Twitter" href="http://twitter.com/ChildrensPhila"><span class="element-invisible">Twitter</span><i class="ss-icon ss-social-regular">&#xF611;</i></a></li>
                        <li class="footer__social-item"><a title="Facebook" href="http://www.facebook.com/ChildrensHospitalofPhiladelphia"><span class="element-invisible">Facebook</span><i class="ss-icon ss-social-regular">&#xF610;</i></a></li>
                        <li class="footer__social-item"><a title="YouTube" href="http://www.youtube.com/ChildrensHospPhila"><span class="element-invisible">YouTube</span><i class="ss-icon ss-social-regular">&#xF630;</i></a></li>
                    </ul>
                    <hr class="footer__hr" />
                    <div class="footer__awards"><img class="footer__awards-img-1" src="//give.chop.edu/page/-/images/static/award-us-news.png" alt="" /> <img class="footer__awards-img-2" src="//give.chop.edu/page/-/images/static/award-parents-mag.png" alt="" /></div>
                </div>
            </div>
            <nav class="l-footer__col-2 nav--footer">
                <div class="panel-pane pane-custom pane-2" >
                    <header>
                        <h5 class="nav--footer__title">Directory</h5>
                    </header>
                    <ul class="nav--footer__menu">
                        <li class="nav--footer__item">
                            <a class="nav--footer__link" href="tel://1-800-879-2467">Main Hospital</a><br/>
                            <a class="nav--footer__link" href="tel://1-800-879-2467">1-800-879-2467</a>
                        </li>
                        <li class="nav--footer__item">
                            <a class="nav--footer__link" href="tel://267-426-6500">Foundation</a><br/>
                            <a class="nav--footer__link" href="tel://267-426-6500">267-426-6500</a>
                        </li>
                        <li class="nav--footer__item">
                            <a class="nav--footer__link" href="tel://1-215-590-3800">Research</a><br/>
                            <a class="nav--footer__link" href="tel://1-215-590-3800">215-590-3800</a>
                        </li>
                        <li class="nav--footer__item">
                            <a class="nav--footer__link" href="tel://1-800-879-2467">Referring Physicians</a><br/>
                            <a class="nav--footer__link" href="tel://1-800-879-2467">1-800-879-2467</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class="l-footer__col-3 nav--footer">
                <div class="panel-pane pane-block pane-menu-block-chop-menus-explore nav--footer" >
                    <h5 class="pane-title nav--footer__title">Explore</h5>
                    <div class="menu-block-wrapper menu-block-chop_menus-explore menu-name-menu-explore-menu parent-mlid-0 menu-level-1">
                        <ul class="menu">
                            <li class="menu__item is-leaf first leaf menu-mlid-984"><a href="//www.chop.edu/healthinfo" title="" class="menu__link">Conditions &amp; Diseases</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-985"><a href="//www.chop.edu/doctors" title="" class="menu__link">Doctors</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-986"><a href="//www.chop.edu/locations" title="" class="menu__link">Locations</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-987"><a href="//www.chop.edu/service" title="" class="menu__link">Departments &amp; Services</a></li>
                            <li class="menu__item is-leaf last leaf menu-mlid-988"><a href="//www.chop.edu/visitors" title="" class="menu__link">Visitor Information</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="l-footer__col-4 nav--footer">
                <div class="panel-pane pane-block pane-menu-block-chop-menus-our-organization nav--footer" >
                    <h5 class="pane-title nav--footer__title">Our Organization</h5>
                    <div class="menu-block-wrapper menu-block-chop_menus-our-organization menu-name-menu-our-organization-menu parent-mlid-0 menu-level-1">
                        <ul class="menu">
                            <li class="menu__item is-leaf first leaf menu-mlid-989"><a href="//www.chop.edu/about" title="" class="menu__link">About CHOP</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-990"><a href="//www.chop.edu/newsroom" title="" class="menu__link">News</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-991"><a href="//giving.chop.edu" title="" class="menu__link">Giving</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-993"><a href="//www.research.chop.edu" title="" class="menu__link">Research</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-992"><a href="//www.chop.edu/professionals" title="" class="menu__link">For Healthcare Professionals</a></li>
                            <li class="menu__item is-leaf last leaf menu-mlid-994"><a href="//www.chop.edu/careers" title="" class="menu__link">Careers</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="l-footer__col-5 nav--footer">
                <div class="panel-pane pane-block pane-menu-block-chop-menus-i-want-to nav--footer" >
                    <h5 class="pane-title nav--footer__title">I Want To...</h5>
                    <div class="menu-block-wrapper menu-block-chop_menus-i-want-to menu-name-menu-i-want-to-menu parent-mlid-0 menu-level-1">
                        <ul class="menu">
                            <li class="menu__item is-active is-leaf first leaf active menu-mlid-797"><a href="//www.chop.edu/online-request/appointment.cfm" title="" class="menu__link active">Request an Appointment</a></li>
                            <li class="menu__item is-active is-leaf leaf active menu-mlid-981"><a href="//www.chop.edu/visitors/directions-maps-and-parking" title="" class="menu__link active">Get Directions</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-2214"><a href="//mychart.chop.edu" title="" class="menu__link">Access MyChart</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-980"><a href="//www.chop.edu/professionals" title="" class="menu__link">Refer a Patient</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-795"><a href="//giving.chop.edu" title="" class="menu__link">Make a Donation</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-796"><a href="//www.chop.edu/visitors/financial-matters/pay-your-bill.html" title="" class="menu__link">Pay a Bill</a></li>
                            <li class="menu__item is-leaf leaf menu-mlid-982"><a href="//giving.chop.edu/site/PageNavigator/Gift_of_Childhood/Get_Involved/Volunteer/volunteer.html" title="" class="menu__link">Volunteer</a></li>
                            <li class="menu__item is-leaf last leaf menu-mlid-983"><a href="//www.chop.edu/newsletters" title="" class="menu__link">Sign Up for Newsletters</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="l-footer__full-col">
                <div class="panel-pane pane-custom pane-3" >
                    <ul class="footer-small-text">
                        <li class="footer-small-text__item footer-small-text__copyright">&copy;2014 Children’s Hospital of Philadelphia</li>
                        <li class="footer-small-text__item"><a href="//www.chop.edu/legal">Legal</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
