<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7"  lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]><html class="lt-ie9 lt-ie8 lt-ie7"  lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8"  lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"  lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link rel="shortcut icon" href="https://give.chop.edu/page/-/images/static/favicon.ico" type="image/vnd.microsoft.icon" />
    <title>The Children&#039;s Hospital of Philadelphia</title>

    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <!--[if lte IE 8]>
    <link type="text/css" rel="stylesheet" href="https://give.chop.edu/styles/index-desktop.css" media="all" />
    <![endif]-->
    <!--[if (!IE)|(gt IE 8)]><!-->
    <link type="text/css" rel="stylesheet" href="https://give.chop.edu/styles/index.css" media="all" />
    <!--<![endif]-->

    <!-- SD STYLES -->

    <!--[if lte IE 8]><link rel="stylesheet" href="/page/-/donate/{{page.style}}/bsdcd-styles-desktop.css"><![endif]-->
    <!--[if gt IE 8]><!--><link rel="stylesheet" href="/page/-/donate/{{page.style}}/bsdcd-styles.css"><!--<![endif]-->
    <link type="text/css" rel="stylesheet" href="//cloud.typography.com/6715652/764502/css/fonts.css" media="all" />

    <!-- SD STYLES -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <script src="https://give.chop.edu/js/source-min.js"></script>
    <script src="https://give.chop.edu/js/main.js"></script>
    <script src="https://give.chop.edu/page/-/fonts/symbolset.js"></script>

</head>
<body>
    <header class="site-header">
        <div class="container">
            <div class="l-1up">
                <div id="site-name">
                    <a href="//www.giftofchildhood.org" class="chop-logo" title="Home" rel="home"><span class="element-invisible">The Children's Hospital of Philadelphia</span></a>
                </div>
            </div>
        </div>
    </header>


<!-- END WRAPPER -->
