		</article> <!-- /#content -->

	</main><!--/#container-->

<footer class="row footer" role="contentinfo">
<div class="small-12 medium-7 large-5 columns">
	<section class="signup-form">
	<h3>Get Email Updates</h3>
	<form class="footer-signup signup row" method="post" action="http://uwsem.bsd.net/page/s/Stay_Informed" role="form">
		<fieldset class="email-fieldset small-6 columns">
			<label for="footer-signup-email" class="visually-hidden">Email Address</label>
			<input type="email" name="email" title="Email Address" placeholder="email address" maxlength="254" id="footer-signup-email" class="text signup-email" required="required">
		</fieldset>
		<fieldset class="zip-fieldset small-3 columns">
			<label for="footer-signup-zip" class="visually-hidden">Zip Code</label>
			<input type="tel" name="zip" title="Zip Code" placeholder="zip code" id="footer-signup-zip" class="text signup-zip" maxlength="5" required="required" pattern="^\d{5}(-\d{4})?$">
		</fieldset>
		<fieldset class="submit-fieldset small-3 columns">
			<button name="submit-btn" type="submit" class="btn-orange hover-dark">Sign Up</button>
		</fieldset>
	</form>
</section> <!--/.signup-form-->
<section class="search-form">
	<h3>Search the Site</h3>
	<form method="get" action="http://uwsem.bsd.net/pages/search-results" class="search">
		<label for="cse-footer-search" class="visually-hidden">Search</label>
		<i class="ss-icon ss-standard ss-search"></i>
		<input type="text" name="q" id="cse-footer-search" class="text">
		<button type="submit" class="footer-search-button search-button btn-orange hover-dark">Search</button>
	</form>
</section> <!--/.search-form-->

			<a href="/" class="footer-logo">
				<span class="inlinesvg-img">
					<img src="http://uwsem.bsd.net/page/-/uwsem_v3/img/logo-footer.svg" alt="United Way for Southeastern Michigan Logo">
				</span>
				<span class="inlinesvg-fallback">
					<img src="http://uwsem.bsd.net/page/-/uwsem_v3/img/logo-footer.png" alt="United Way for Southeastern Michigan Logo">
				</span>
			</a>

			<section class="address-info">
				<p>
	<a href="http://uwsem.bsd.net/pages/privacy-policy">Privacy Policy</a>&nbsp; &bull; &nbsp;<a href="/pages/donor-bill-of-rights">Donor Bill of Rights</a></p>
<p>
	&copy; 2014 United Way for Southeastern Michigan. All rights reserved.</p>

			</section> <!--/.address-info-->
		</div>
		<div class="large-4 large-offset-2 columns">
			<section class="footer-secondary-nav row">
				<div class="small-4 columns">
					<h3>Connect</h3>
					<ul>
    <li class="node_blog level_1 first_child">
					<a href="http://uwsem.bsd.net/blog">Blog</a>
					    </li>
    <li class="node_contact level_1">
					<a href="http://liveunitedsem.org/page/s/contact_us">Contact</a>
					    </li>
    <li class="node_offices level_1">
					<a href="http://uwsem.bsd.net/about/offices">Offices</a>
					    </li>
    <li class="node_tour-our-hq level_1 last_child">
					<a href="http://uwsem.bsd.net/about/tour-our-headquarters">Tour our HQ</a>
					    </li>
</ul>

				</div>
				<div class="small-4 columns">
					<h3>About</h3>
					<ul>
    <li class="node_history level_1 first_child">
					<a href="http://uwsem.bsd.net/history">History</a>
					    </li>
    <li class="node_leadership-staff level_1">
					<a href="http://uwsem.bsd.net/about/leadership-staff">Leadership &amp; Staff</a>
					    </li>
    <li class="node_board level_1">
					<a href="http://uwsem.bsd.net/about/board">Board</a>
					    </li>
    <li class="node_annual-campaign-cabinet level_1">
					<a href="http://uwsem.bsd.net/about/annual-campaign-cabinet">2014 Campaign Cabinet</a>
					    </li>
    <li class="node_partners level_1">
					<a href="http://uwsem.bsd.net/about/partners">Partners</a>
					    </li>
    <li class="node_financials level_1">
					<a href="http://uwsem.bsd.net/about/financials">Financials</a>
					    </li>
    <li class="node_press level_1">
					<a href="http://uwsem.bsd.net/press">Press</a>
					    </li>
    <li class="node_careers level_1 last_child">
					<a href="http://uwsem.bsd.net/careers">Careers</a>
					    </li>
</ul>

				</div>
				<div class="small-4 columns">
					<h3>Resources</h3>
					<ul>
    <li class="node_partner-resources level_1 first_child">
					<a href="http://uwsem.bsd.net/resources/partner-resources">Partner Resources</a>
					    </li>
    <li class="node_fundraiser-toolkit level_1">
					<a href="http://uwsem.bsd.net/resources/fundraiser-toolkit">Fundraiser Toolkit</a>
					    </li>
    <li class="node_media-toolkit level_1">
					<a href="http://uwsem.bsd.net/resources/media-toolkit">Media Toolkit</a>
					    </li>
    <li class="node_social-media-toolkit level_1 last_child">
					<a href="http://uwsem.bsd.net/resources/social-media-toolkit">Social Media Toolkit</a>
					    </li>
</ul>

				</div>
			</section> <!-- /.footer-secondary-nav -->
		</div>
	</footer>

	<!-- close the off-canvas menu -->
	<a class="exit-off-canvas"></a>

	</div> <!-- /.inner-wrap -->
</div> <!-- /.off-canvas-wrap -->

<!--[if lte IE 8]>
<script src="/js/respond.min.js"></script>
<![endif]-->
<!--[if IE]>
<script src="/page/-/uwsem_v3/js/ss-standard.js"></script>
<script src="/page/-/uwsem_v3/js/ss-social.js"></script>
<![endif]-->

</body>
</html>
