<!DOCTYPE html>
<!--[if IE 8 ]><html lang="en" class="no-js oldie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
	<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{page.page-title}}</title>

	<meta property="og:title" content="{{page.page-title}}">
	<meta name="description" content="{{page.page-description}}">
	<meta property="og:description" content="{{page.page-description}}">

	<meta property="og:image" content="{{page.page-meta-image}}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="">

	<link rel="stylesheet" href="/page/-/donate/{{page.style}}/bsdcd-styles.css">

	<script src="/page/-/donate/modernizr.js"></script>

	</head>

	<body class="full-width no-nav">
		<div id="container">
			<header id="main-header">
				<div class="centered">
					<h1 class="logo"><a href="/" class="ir">{{page.client}}</a></h1>
					<div class="qd-login-links-section">
						<a href="#login" class="qd-log-in-link">Use my saved payment information</a>
						<a href="#logout" class="qd-log-out-link">Log Out</a>
					</div>
				</div><!--/.centered-->
			</header>
			<div class="content-wrapper">
