
$tools-directory: "/page/-/donate/";

/* Possible breakpoints */
    $phone: 320px;
    $widephone: 480px;
    $tablet: 768px;
    $desktop: 1000px;
    $widedesktop: 1200px;

    /* Assign a default size (for IE, or if the site is not responsive) */
        $default-viewport-size: $desktop;
        $viewport-width: false !default;

    /* Core breakpoints: where certain structural behaviors start */
    /* generally, sequential and form field breakpoints should be the same, but this is not a requirement */
        $form-field-layout: $tablet;
        $sequential-breakpoint: $tablet;


    /* form fields */
    $input-height: 28px; //FULL HEIGHT (as if box-sizing were border-box, even when it won't be)

    $input-border-width: 1px;
    $input-vertical-padding: 15px;
    $input-side-padding: 7px;

    $input-mobile-font-size: 20px;
    $input-font-size: 18px;

/*colors*/
    $gray: #777;
    $slate-gray: #2F4F4F;

    $green: #197419;
    $red: #F00;
    $dim-red: #C41230;

    /*Step UI Colors*/
    $step-inactive: $gray;
    $step-active: $green;

    /*Button UI*/
    $button-normal: $gray;
    $button-active: $green;

    /*Validation*/
    $error-message-text-color: $red;
    $error-field-border-color: $dim-red;

    /*MISC UI*/
    $question-mark-background: #666666;
    $question-mark-color: white;

    /*Sections*/
    $header-section-bg-color: #fff;
    $step-container-bg-color: #f2f2f2;
    $form-bg-color: #fff;

    /*Form Fields*/
    $form-field-bg-color: #f1f1f1;
    $form-field-focus-bg-color: #f3f3f3;

/*Effects*/
    $core-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.04);

/*Images*/
    $giant-background-image-name: "";
    $giant-background-image: url(#{$tools-directory}#{$giant-background-image-name});



