/*
Core CC-detection styles
*/


.bsd-cc-detect {
    .cc_type_label{
        display:none;
    }
    .cc_type_radio_cont label {
        display: inline;
    }
    .accepted_ccs {
        overflow:hidden;
        position:relative;
    }
    .cc-img {
        @include inline-block();
        vertical-align:top;
        height: 26px;
        position:relative;
        /* fancypants non-modernizr svg fallback trick: http://pauginer.tumblr.com/post/36614680636/invisible-gradient-technique */
        background-image: url(/page/-/donate/Credit_Card_Icons_m.png);
        background-repeat: no-repeat;
        background-image: -webkit-linear-gradient(transparent, transparent), url(/page/-/donate/Credit_Card_Icons_m.svg);
        background-image: linear-gradient(transparent, transparent), url(/page/-/donate/Credit_Card_Icons_m.svg);
        overflow:hidden;
        margin-top:0;
        width:40px;
        margin-right:5px;
        text-indent: -999em;
        .ie7 & {
            text-indent:0;
            font-size:0.1px;
            color: white;
        }
    }
    .hide-text{
        position:absolute;
        top:-50px;
        left:-50px;
    }
    .accept-mc{
        width: 37px;
        background-position: 0 center;
    }
    .accept-ds{
        background-position: -111px center;
        width:38px;
    }
    .accept-ax{
        width:25px;
        background-position: -83px center;
    }
    .accept-vs{
        background-position: -40px center;
    }
    .accept-ma{
        background-position: -153px center;
        width:37px;
    }
    .cc_type_cont{
        margin-bottom:10px;
    }
    .cc_maestro_start_cont{
        display:none;
    }
    .cc-is-ma .cc_maestro_start_cont {
        display:block;
    }

    /*dimming cards when one is selected*/
    &.cc-cover {
        .cc-img {
            @include opacity(0.1);
        }
    }
    &.cc-is-vs{
        .accept-vs{
            @include opacity(1);
        }
    }
    &.cc-is-ax {
        .accept-ax{
            @include opacity(1);
        }
    }
    &.cc-is-mc {
        .accept-mc{
            @include opacity(1);
        }
    }
    &.cc-is-ds {
        .accept-ds{
            @include opacity(1);
        }
    }
    &.cc-is-ma {
        .accept-ma{
            @include opacity(1);
        }
    }
    .paypal-text{
        display:none;
    }
    &.cc-is-paypal{
        .paypal_text_cont{
            display:block;
        }
        .cc_number_cont, .cc_maestro_start_cont, .cc_expiration_cont, .cc_cvv_cont{
            display:none;
        }
    }
    .cc_type_radio_cont {
        display: none;
    }
}


