/*background scaling for huge backgrounds*/
/*works best with a relatively huge image: we've been using 2000x1380 */

@include respond-min( $tablet ){
    body {
        background-image: $giant-background-image; //actual image defined in variables
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% 0px;
    }
}

.oldie body{
    background-size:auto;
    background-position: 50% 100px !important;
}


/*custom styles*/

.base{
    h1{
        font-size:20px;
        margin-bottom:10px;
    }
    h2{
        font-size:16px;
    }
}


.qd-login-links-section{
    position:absolute;
    width:40%;
    right:2%;
    bottom:10px;
    @include respond-min( $form-field-layout ){
        bottom:10px;
    }
}


#main-footer{
    text-align: center;
    padding: 10px;
}


.content-wrapper{
    @include respond-min( $form-field-layout ){
        margin:40px auto 20px;
    }
    @include respond-min( $desktop){
        width:$desktop;
    }
}

@include respond-min( $form-field-layout ){
    .bsdcd-outer-container{
        padding-bottom:0;
        border: 1px solid #f0f0f0;
        border-radius: 8px;
    }
    .bsdcd-top-section, .bsdcd-form{
        background: #fafafa;
    }
    #main-header{
        background:#f0f0f0;
        .centered{
            margin:0 auto;
            max-width:$desktop;
        }
    }
    #main-footer{
        background: #F2F2F2;
    }
}