/*
Core Fucntional Quick Donate Styles
*/

.qd_loading_spinner {
    display: none;
    .qd_loading &{
        display:block;
    }
}
.qd_info_section{
    display:none;
}
.qd_populated {
    .qd_info_extra, .personalized_info {
      display: none !important;
    }
    .qd_info, .qd_info_section {
      display: block !important;
    }
}

/*qd login, logout links*/
.qd-login-links-section{
    display:none;
    z-index:40;
}

.qd-login-links-section{
    .qd_load_failed &{
        display:block; 
    }
    .qd_not_enabled &{
        display:none; 
    }
}

.qd-log-out-link{
    display:none;
}

@include respond-min( $form-field-layout ){
    .qd_populated.sequential_step_0 .qd_info_section{
        display: none !important;
    }
}