/*
Core Sequential Styles
*/


.sequential_next_btn, .bsdcd-seq-breadcrumbs, .sequential_next_cont, .sequential_general_error_cont {
  display: none;
}

@include respond-min( $sequential-breakpoint ){

    .sequential_general_error_cont, .sequential_next_cont, .bsdcd-seq-breadcrumbs {
        display: none;
    }
    .js .sequential {
        .sequential_breadcrumb_payment{
            .qd-pay-step-num{
                display:none !important;
            }
        }
        .sequential_next_cont, .bsdcd-seq-breadcrumbs {
          display: block;
        }
        .general_error, .qd_info_section {
            display: none;
        }
        .mobile-only {
            display: none;
        }
        .bsdcd-compliance-section{
            display:none;
        }
        .submit_cont, .sequential_donate_btn_copy {
            display: none;
        }
        .sequential_next_btn {
         display:block;
        }
        .sequential_next_btn_cont,.sequential_general_error_cont {
            clear:both;
        }
        .sequential_step {
            opacity: 0;
            /*
            position:relative;
            left:0;
            top:0;
            */
            @include transition2( opacity, .5s , ease, left, .3s , ease );
            &.active {
                opacity: 1;
                z-index: 1;
            }
            &.inactive {
                position:absolute;
                opacity: 0;
                left:-$section-total-width;
                z-index:0;
                pointer-events: none;
            }
        }
        &.sequential_step_2 .bsdcd-form {
            .sequential_donate_btn_copy {
                display: block;
            }
            .sequential_next_btn_copy {
                display: none;
            }
            .bsdcd-compliance-section{
                display:block;
            }
        }
        /* related to hiding the second step when quick donate is active */
        &.qd_populated .bsdcd-seq-breadcrumbs li{
            &.sequential_breadcrumb_name{
                display:none;
            }
            &.sequential_breadcrumb_payment{
                .qd-pay-step-num{
                    display:block !important;
                }
                .no-qd-pay-step-num, hr{
                    display:none;
                }
            }
        }
        &.sequential_error  .sequential_general_error_cont {
            display:block;
        }
    }

    /* no next button to start on amount selection */
    .js .pre-first-click .sequential_next_cont {
        display:none;
    }

    /*submit button should show processing cursor when submitting*/
    .blue_contribute_processing .sequential_next_btn {
        cursor:wait;
    }
}

.oldie.js {
    .sequential .sequential_step {
        display: none;
        &.active {
            display: block;
        }
    }
}