.bsdcd-outer-container{
    margin: 0 auto;
    @include respond-min( $form-field-layout ){
        padding-top:170px;
    }
    input.text{
        border-color:$dark-blue;
        background: $white;
        border-radius:0;
        color: $dark-blue;
    }
    @include placeholder($dim-blue);
}

.bsdcd-top-section{
    background:$white;
    color: $dark-blue;
    text-align:center;
    font-family: sans-serif;
    h2 {
        font-size:15px;
        line-height:18px;
        font-weight:normal;
    }
    border:0;
}

.bsdcd-form{
    background:$white;
}

#stars{
    display:none;
}
.oldie{
    .oldstars {
        background-image: url(/page/-/donate/moma-minimal/stars.png);
    }
    .oldstars2 {
        background-image: url(/page/-/donate/moma-minimal/stars2.png);
    }
    .oldstars{
        background-position: 40% 30%;
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
    }
    canvas {
        display:none;
    }
}

.bsdcd-outer-container li.amount_cont label.preset_amount_label, .bsdcd-outer-container #submit, .bsdcd-outer-container #processing_indicator, .bsdcd-outer-container .big_btn{
    background-image:none;
    color: $dark-blue;
    border-color: $dark-blue;
    border-radius:0;
}

@include respond-min( $form-field-layout ){
    .js .sequential #sequential_next_btn{
        color: $white;
        background-color: $dark-blue;
    }
    .js .sequential .bsdcd-seq-breadcrumbs{
        border:0;
        background:$dim-blue;
        li{
            hr {
                display:none;
            }
            a{
                color: $dark-blue;
                span{
                    color: $dark-blue;
                    border:1px solid $dark-blue;
                    background:transparent;
                }
            }

            &.active, &.completed{
                a { 
                    color: $white;
                }
                span{
                    color: $white;
                    border:1px solid $white;
                    background:transparent;
                }
            }
        }
    }
    .bsdcd-outer-container li.amount_cont label.preset_amount_label{
        padding: 11px 5px;
    }
    #stars{
        display:block;
        position:fixed;
        //height:100%;
        //width:100%;
    }
}