<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="no-js oldie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js oldie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js oldie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-translate-customization" content="4207688dd80f0303-9df5bffa9878b12e-g350add1bfba29207-17">

    <title>MOMA</title>

<!--[if lte IE 8]><link rel="stylesheet" href="/page/-/donate/moma-minimal/bsdcd-styles-desktop.css"><![endif]-->
<!--[if gt IE 8]><!--><link rel="stylesheet" href="/page/-/donate/moma-minimal/bsdcd-styles.css"><!--<![endif]-->
<script src="/page/-/donate/moma-minimal/modernizr.js"></script>
</head>

    <body class="full-width background-white">
        <div id="container">
        {% include default-form.html %}
        </div>
        <footer id="footer">&copy; 2013 The Museum of Modern Art | <a href="http://www.moma.org/about/about_site/privacy" target="_blank">Privacy Policy</a></footer>
<script>


window.requestAnimFrame = (function(){
  return  window.requestAnimationFrame       ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame    ||
          function( callback ){
            window.setTimeout(callback, 6000 / 60);
          };
})();


(function($,w, M){
    var on = false,
        together = false,
        pull = false,
        canvas,
        $canvas,
        $canvas2,
        $w = $(w),
        ww = $w.width(),
        wh = $w.height(),
        $body = $('body'),
        context,
        stars = [],
        number = 300,
        speed = 1,
        started = false,
        g;

    

//start crazy

function iestars(){
    g = 20;
    $canvas = $('<div/>',{'class':'oldstars'});
    $canvas2 = $canvas.clone().addClass('oldstars2').css('background-position','200px 20px').hide()
    $body.prepend($canvas).prepend( $canvas2 );

    function fo($this,sp,bp){
        $this.fadeOut(sp,function(){
            $this.css('background-position',bp+'px '+((++g)*50)+'px');
            fi($this,sp,bp);
        });
    }
    function fi($this,sp,bp){
        $this.fadeIn(sp,function(){
            fo($this,sp,bp);
        });
    }
    fo($canvas,11500,'20');
    setTimeout(function(){
        fi($canvas2,12000,'200');
    },500);
}



function canvasstars(){

    $body.prepend('<canvas id="stars"/>');

        canvas = document.getElementById('stars');
        $canvas = $(canvas).attr({'width':ww,'height':wh});
        context = canvas.getContext('2d');

    function create(){
        stars = [];
        for(var i = 0; i < number; i++) {
            stars[i] = new Circle(ww,wh);
            stars[i].reset();
        }
        if (!started) { draw(); started = true; }
    }
  
    function draw() {
        var ln = stars.length-1;

        context.clearRect(0,0,ww,wh);      
        
        while(on && ln--) {
            stars[ln].move();
            stars[ln].draw();
        }
        requestAnimFrame(draw);
    }

    function Circle(www,wwh) {
        this.s = {ttl:2000, xmax:5, ymax:2, rmax:6, rt:1};

        this.reset = function() {
            this.x = www*M.random();
            this.y = wwh*M.random();
            this.r = ((this.s.rmax-1)*M.random()) + 1;
            this.dx = (M.random()*this.s.xmax) * (M.random() < .5 ? -1 : 1);
            this.dy = (M.random()*this.s.ymax) * (M.random() < .5 ? -1 : 1);
            this.hl = (this.s.ttl/speed)*(this.r/this.s.rmax);
            this.rt = M.random()*this.hl;
            this.s.rt = M.random()+1;
            this.stop = M.random()*.5+.3;
        }

        this.move = function() {
                this.x += ((this.rt/this.hl)*this.dx) / 120;
                this.y += (this.rt/this.hl)*0.1;
                if(this.x > www || this.x < 0) { this.dx *= -1; }
                if(this.y < 0) { this.dy *= -1; }
                if(this.y > wwh){  this.y = 0; }
        }

        this.draw = function() {
            this.rt += this.s.rt;
            if(this.rt <= 0.1 || this.rt >= this.hl){ this.s.rt = this.s.rt*-1; this.rt += this.s.rt; }
            var newo = M.abs(M.round(1-(this.rt/this.hl)*1000)/1000), cr;
                //newo = (newo>1)?1:((newo<0)?0:newo);
                cr = this.r*newo;
                context.beginPath();
                context.arc(this.x,this.y,this.r,0,M.PI*2,true);
                context.closePath();
                g = context.createRadialGradient(this.x, this.y, 0, this.x, this.y, cr);
                g.addColorStop(0.0, 'rgba(255,255,255,'+newo+')');
                g.addColorStop(this.stop, 'rgba(86,101,181,'+(newo*0.6)+')');
                g.addColorStop(1.0, 'rgba(86,101,181,0)');
                context.fillStyle = g;
                context.fill();
        }
    }

    $w.on('resize',function(){
        wh = $w.height();
        ww = $w.width();
        on = (ww>785);
        if(on){ create(); }
    }).trigger('resize');

}
if (!Modernizr.canvas){
    $('html').addClass('oldie');
    //iestars();
}else{
    canvasstars();
}



}(jQuery,window, Math));
</script>
    </body>
</html>