{% include pih-header.html %}

    {% include default-form.html %}
            <footer id="main-footer" class="dark-footer">
                <div class="">
                <p><a href="http://www.pih.org/pages/terms" target="_blank">Terms of Use</a> &bull; <a href="http://www.pih.org/pages/privacy-policy" target="_blank">Privacy Policy</a>
                <p>&copy; 2009 - {{ site.time | date: '%Y' }} Partners In Health
                <p>All Rights Reserved. PIH&reg; is a registered trademark of Partners In Health
                <p>PIH is a tax-exempt 501(c)3 organization.
                </div>
            </footer>
    </body>
</html>
