{% include shatter-header.html %}

    {% include default-form.html %}
    

        
    </div> <!-- /#content -->
    
                <footer role="contentinfo"  class="minimal">
                <div class="fixed">
                    <div class="footer-row clearfix">
                        <div class="logos">
                            <a href="/" class="site-logo"><img src="/page/-/site/images/footer-logo.svg" alt="We are Shatterproof" data-fallback="/page/-/site/images/footer-logo.png"></a>
                            <a href="http://www.clintonfoundation.org/our-work/initiatives/clinton-health-matters-initiative/commitments/2013-commitments-action#shatterproof" target="_blank"><img class="seal" src="/page/-/site/images/clinton-badge.png" alt="Clinton Health Matters Initiative"></a>
                        </div>
                        <div class="footer-nav">
                            <ul class="menu">
    <li class="node_shatterproof level_1 has_children first_child">
                                                                <h4>Shatterproof</h4>
                                                                                                <ul>
        <li class="node_our-plan level_2 first_child">
                                                                                                <a href="http://www.shatterproof.org/pages/our-plan">Our Plan</a>
                                                                    </li>
        <li class="node_my-last-photo level_2">
                                                                                                <a href="http://www.shatterproof.org/mylastphoto">My Last Photo</a>
                                                                    </li>
        <li class="node_blog level_2">
                                                                                                <a href="http://www.shatterproof.org/blog">Blog</a>
                                                                    </li>
        <li class="node_get-involved level_2">
                                                                                                <a href="http://www.shatterproof.org/pages/get-involved">Get Involved</a>
                                                                    </li>
        <li class="node_donate level_2 last_child">
                                                                                                <a href="https://secure.shatterproof.org/page/contribute/default">Donate</a>
                                                                    </li>
    </ul>
    </li>
    <li class="node_learn-more level_1 has_children last_child">
                                                                <h4>Learn More</h4>
                                                                                                <ul>
        <li class="node_about-us level_2 first_child">
                                                                                                <a href="http://www.shatterproof.org/pages/about-us">About Us</a>
                                                                    </li>
        <li class="node_resource-center level_2">
                                                                                                <a href="http://www.shatterproof.org/pages/resource-center">Resource Center</a>
                                                                    </li>
        <li class="node_contact-us level_2">
                                                                                                <a href="http://www.shatterproof.org/page/s/contact-us">Contact Us</a>
                                                                    </li>
        <li class="node_workplace-giving level_2">
                                                                                                <a href="http://www.shatterproof.org/pages/workplace-giving">Workplace Giving</a>
                                                                    </li>
        <li class="node_privacy-policy level_2 last_child">
                                                                                                <a href="http://www.shatterproof.org/pages/privacy-policy">Privacy Policy</a>
                                                                    </li>
    </ul>
    </li>
</ul>

                        </div>
                        <div class="actions">
                            <h4>Search</h4>
                            <form id="search" method="get" action="http://www.shatterproof.org/pages/search-results" class="search">
                                <fieldset>
                                    <input type="text" name="q" class="text" id="cse-search" placeholder="Search">   
                                    <input type="submit" class="button submit" name="sa" value="Go">
                                </fieldset>
                            </form><!-- /#search -->
                            <div class="social">
                                <h4>Connect with us</h4>
                                <div class="share-group mini left">
                                    <a href="https://www.facebook.com/ShatterproofHQ" class="facebook" target="_blank"><i class="icon-facebook"></i></a>
                                    <a href="https://twitter.com/ShatterproofHQ" class="twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a class="social-share email" href="mailto:?subject=Together, we can end addiction&body=Hi there. Here’s a scary fact: 22 million Americans struggle with addiction. Their family members – all 100 million of them -- share their pain and are hurt by the struggle and stigma associated with addiction. And yet addiction is preventable and treatable. I've learned about a new organization, Shatterproof, dedicated to fighting addiction the way we fight other public health crises: by looking critically at the problem and making a realistic plan. It starts with ending the stigma -- and sharing some of the facts on addiction. Check it out and help us spread the word today: https://secure.weareshatterproof.org/help-us." target="_blank"><i class="icon-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        
                        <a href="/pages/privacy-policy" class="privacy">Privacy Policy</a>
                        
                    </div>
                    <form class="signup" method="post" action="/page/s/quick-signup-form" role="form">
                        <h3>Help Make Our Country Shatterproof.</h3>
                        <fieldset>
                            <div class="email-group">
                                <label for="footer-signup-email">Email Address</label>
                                <input type="email" class="signup-email" name="email" title="Email Address" placeholder="email" maxlength="254" id="footer-signup-email" required="required">
                            </div>
                            <div class="clearfix">
                                <div class="zip-group">
                                    <label for="footer-signup-zip">Zip Code</label>
                                    <input type="tel" class="signup-zip" name="zip" title="Zip Code" placeholder="zip" id="footer-signup-zip" maxlength="10" required="required" pattern="^\d{5}(-\d{4})?$">
                                </div>
                                <div class="submit-group">
                                    <button type="submit" name="submit-btn">Join Us</button>
                                </div>
                            </div>
                        </fieldset>
                    </form><!-- /.signup -->
                </div>
            </footer>
        </div> <!-- /#container-->

    <div id='fb-root'></div>
<script>

window.fbAsyncInit = function() {FB.init({"status":false,"cookie":true,"oauth":true,"xfbml":true,"appId":409615209139134});
};
yepnope.addPrefix('fb',function(r){ r.attrs = {'id':'facebook-jssdk'}; return r; });
yepnope(['fb!//connect.facebook.net/en_US/all.js','//platform.twitter.com/widgets.js']);

</script>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0010/4034.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

    </body>
</html>

