


    <!DOCTYPE html>

<!--[if lt IE 7 ]>
<html lang="en" class="no-js oldie ie6">
<![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="no-js oldie ie7">
<![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="no-js oldie ie8">
<![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">

        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        
        
                
                <meta name="description" content="Shatterproof is an unprecedented national organization committed to ending the suffering of our loved ones and protecting our children from addiction’s grip.">
        <meta property="og:description" content="Shatterproof is an unprecedented national organization committed to ending the suffering of our loved ones and protecting our children from addiction’s grip.">
        
                <meta property="og:image" content="http://www.weareshatterproof.org/page/-/site/images/header-logo.png">
                
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
                <meta property="og:title" content="Shatterproof">
        
        <meta name="referrer" content="always">

        <title>Shatterproof</title>
        
        
        <link rel="shortcut icon" href="http://secure.shatterproof.org//page/-/site/images/favicon.ico">
        
        

                    <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://secure.shatterproof.org/styles/index-desktop.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="http://secure.shatterproof.org/styles/index.css">
            <!--<![endif]-->
                <link href='//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/790686/674042/css/fonts.css" />
        <link rel="stylesheet" href="http://secure.shatterproof.org/page/-/site/webfonts/font-awesome.css">
        <!--[if IE 7]>
          <link rel="stylesheet" href="http://secure.shatterproof.org/page/-/site/webfonts/font-awesome-ie7.css">
        <![endif]-->
                    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script src="http://secure.shatterproof.org/js/source-min.js"></script>
            <script src="http://secure.shatterproof.org/js/main.js"></script>
                
        
        <!-- blue_source_tracking enabled -->           



    </head>

    <body id="wrapper" class="interior full-width">
        
        <div id="container">

            <header role="banner">
                <div class="nav-bar"></div>
                <div class="fixed">
                    <a href="/" class="logo ir">Shatterproof</a>
                    
                </div>
            </header>     
    <div id="content">
