/*background scaling for huge backgrounds*/
/*works best with a relatively huge image: we've been using 2000x1380 */

@include respond-min( $tablet ){
    body {
        background-image: $giant-background-image; //actual image defined in variables
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 50% 0;
        background-attachment:fixed;
    }
}

@include respond-min( $desktop ){
    body {
        background-size: cover
    }
}

@media screen and (max-height: 500px) and (min-width: $tablet ) and (max-width: $desktop - 1px ){
    body { background-size: cover; }
}