/*background scaling for huge backgrounds*/
/*works best with a relatively huge image: we've been using 2000x1380 */

@include respond-min( $tablet ){
    body {
        background-image: $giant-background-image; //actual image defined in variables
        background-repeat: no-repeat;
        background-size: 130% auto;
        background-position: 55% 0;
        //background-attachment:fixed; noooooope
    }
}

@include respond-min( $desktop ){
    body {
        background-position: center 0;
        background-size: cover;
    }
}

@media screen and (max-height: 500px) and (min-width: $tablet ) and (max-width: $desktop - 1px ){
    body { background-size: cover; }
}

.oldie body{
    background-size:auto;
    background-position: center 0;
}

