
// Possible breakpoints
    $phone: 320px;
    $widephone: 480px;
    $tablet: 768px;
    $desktop: 940px;
    $widedesktop: 1200px;

    // Assign a default size (for IE, or if the site is not responsive)
        $default-viewport-size: $desktop;
        $viewport-width: false !default;

    //Core breakpoints: where certain structural behaviors start
    $form-field-layout: $tablet;
    $sequential-breakpoint: $tablet;


/*sizes*/

    /*main section*/
    $section-total-width: 445px;  //do yourself a favor and make sude this + $between-field-gutter = an even number
    $section-inner-side-padding: 30px;

    /*form spacing*/
    $label-bottom-margin: 5px; 
    $form-container-bottom-margin: 20px;

    /*tricksy field calculations*/
    $input-border-width: 1px;
    $input-side-padding: 7px;
    $between-field-gutter: 15px; //do yourself a favor and make sude this + section-total-width = an even number

    $section-inner-width: $section-total-width - ($section-inner-side-padding * 2);
    $container-right-padding: ($input-border-width + $input-side-padding) * 2; //this is the extra space 100% fields will take up under content-box
    $full-width-field-container-width: $section-inner-width - $container-right-padding;
    $half-width-field-container-width: floor( ($section-inner-width - $between-field-gutter) / 2) - $container-right-padding;
    $fourth-width-field-container-width: floor((($half-width-field-container-width + $container-right-padding) - $between-field-gutter) / 2) - $container-right-padding;


$tools-directory: "/page/-/donate/";

/*colors*/

$gray: #b8b8b8;
$green: #197419;
$sp-green: #00EBCA;
$darker-sp-green: #00ae96;
$dim-red: #C41230;
$orange: #FF7C1A;
$dark-orange: #E56200;
$purple: #621A4B;
$dark-purple:#411934;


/*Step UI Colors*/
$step-inactive: #b8b8b8;
$step-active: $orange; 

/*Button UI*/
$button-normal: $dark-orange; 
$button-active: $darker-sp-green; 

/*Validation*/
$error-message-text-color: $dim-red;
$error-field-border-color: $dim-red;

/*MISC UI*/
$question-mark-background: #666666;
$question-mark-color: white;




/*Images*/

$giant-background-image: url(https://s.bsd.net/shatterproof/default/page/-/donate/sp_row.jpg);
