/*background scaling for huge backgrounds*/
/*works best with a relatively huge image: we've been using 2000x1380 */

@include respond-min( $tablet ){
    body {
        background-image: $giant-background-image; //actual image defined in variables
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: 70% 100px;
        //background-attachment:fixed;
    }
}

@include respond-min( $desktop + 100px ){
    body {
        background-size: 140%;
        background-position: 60% 100px;
    }
}

@include respond-min( $widedesktop ){
    body {
        background-size: 120%; //cover doesn't really work, because the image moves depending on the height of the page
        background-position: 20% 100px;
    }
}
@include respond-min( 2000px ){
    body {
        background-size: 100%; //cover doesn't really work, because the image moves depending on the height of the page
    }
}

.oldie body{
    background-size:auto;
    background-position: 70% 100px !important;
}