<!DOCTYPE html><!--[if lt IE 7 ]><html lang="en" class="no-js oldie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js oldie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js oldie ie8"><![endif]--><!--[if IE 9 ]>
<html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <title>Freedom to Marry</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>Freedom to Marry</title>

    <link type="text/css" rel="stylesheet" href="https://secure.freedomtomarry.org/?css=styles/index" media="screen" />
        <link type="text/css" rel="stylesheet" href="https://secure.freedomtomarry.org/?css=styles/print" media="print" />
    <!--[if IE 6]>
      <link type="text/css" rel="stylesheet" href="https://secure.freedomtomarry.org/?css=styles/ie6"/>
    <![endif]-->
    <!--[if IE 7]>
      <link type="text/css" rel="stylesheet" href="https://secure.freedomtomarry.org/?css=styles/ie7"/>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://secure.freedomtomarry.org/page/-/js/source.js"></script>
    <script type="text/javascript" src="//use.typekit.com/aef7qgm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link rel="shortcut icon" href="https://secure.freedomtomarry.org/page/-/images/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/straighttalkonmarriage" />
    
    <!--[if lte IE 8]><link rel="stylesheet" href="/page/-/donate/ftm-minimal/bsdcd-styles-desktop.css"><![endif]-->
<!--[if gt IE 8]><!--><link rel="stylesheet" href="/page/-/donate/ftm-minimal/bsdcd-styles.css"><!--<![endif]-->

    <meta name="google-site-verification" content="0hWTBhjsK0d2hBTXmW1fcY1VMRQmE8alJpONZ4a9Ph0" />
</head>
<body id="bsd" class="one-col">
        <div id="container">
            <div id="header" class="donate-slim">
                <h1 id="logo-header"><a href="http://www.freedomtomarry.org/" title="header-logo">Freedom To Marry</a></h1>
                                            </div><!--/#header-->
                        <div id="content" class="clearfix">
                <div id="main"> 
    
    <div class="base">
        <div id="framework">

                <div id="content-left">
                    <h1>Make a Contribution to Freedom to Marry</h1>

                    <img src="https://secure.freedomtomarry.org/page/-/images/couples/registry-couple1.jpg" width="400"><p></p>

                    <h3>Together, We Can Win Marriage Nationwide</h3>

                    <p>2013 is a crucial year for Freedom to Marry. Building on the momentum from our state victories and the Supreme Court wins, we are moving forward on many fronts to win marriage in more states, grow the majority for marriage, and end federal marriage discrimination. By making a donation today, you will help us continue the crucial work needed to end marriage discrimination once and for all.</p>

                    <p>Also, please consider Freedom to Marry's other donation options:</p>

                    <ul>
                    <li>Make a donation in honor of a couple getting married using Freedom to Marry's <a href="https://secure.freedomtomarry.org/page/outreach/splash/weddingregistry">Wedding Registry</a></li>
                    <li>Make a <a href="/page/contribute/c3donate">donation to our 501(c)3</a>, Freedom to Marry, Inc.</li>
                    <li>Join the <a href="https://secure.freedomtomarry.org/page/contribute/engagement-ring">Engagement Ring</a>, Freedom to Marry's major donor circle.</li>
                    </ul>
                </div>

    {% include default-form.html %}



            </div> <!-- /#framework -->

    
    <div id="authentication"><a href="http://www.instantssl.com" title="Secured by SSL"><img alt="Secured by SSL" src="https://secure.freedomtomarry.org/page/-/images/comodo-authentic.gif" /></a></div>
    
    </div> <!-- /.base -->

    
    </div><!--/#main-->




            </div><!--/#content-->
            <div id="footer" class="clearfix">
                <div class="top">
                    <p>This is the website of Freedom to Marry, Inc. and Freedom to Marry Action, Inc. <a href="http://www.freedomtomarry.org/pages/the-two-components-of-freedom-to-marry">Click here</a> to learn more about the distinction between these two organizations.</p>
                </div><!--/.top-->
                <div class="bottom clearfix">
                    <div class="left">
                        <p>Freedom to Marry, Main Office <br />155 West 19th St, 2nd Floor <br />New York, NY 10011<br>ph: 212.851.8418 <br />fax: 646.375.2069</p>
                        <p>Washington, DC Office<br>2120 L Street NW, Suite 850<br>Washington, DC 20037<br>ph: 202-223-0732<br>fax: 202-223-0082</p>
                        <p>&copy; 2003 - 2013 Freedom to Marry  <a href="http://www.freedomtomarry.org/pages/privacy-policy">Privacy Policy</a></p>
                    </div><!--/.left-->
                    
                </div><!--/.bottom-->
            </div><!--/#footer-->
        </div><!--/#container-->
                <!--modal window and resources accordion-->

        <script type="text/javascript">
            jQuery(document).ready(function() {
                //resources accordion
                if(jQuery('.resource-top') !== null){
                    jQuery('li.resource-top ul').slideUp();
                    jQuery('.resource-top h4').click(function(){
                        var current = jQuery(this);
                        current.next().slideToggle(400, function(){current.toggleClass('resource-top-on');});
                    });
                }
            });
        </script>
        


    </body>
</html>