<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="no-js oldie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js oldie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js oldie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-translate-customization" content="4207688dd80f0303-9df5bffa9878b12e-g350add1bfba29207-17">

    <title>MOMA</title>

<!--[if lte IE 8]><link rel="stylesheet" href="/page/-/donate/moma-minimal/bsdcd-styles-desktop.css"><![endif]-->
<!--[if gt IE 8]><!--><link rel="stylesheet" href="/page/-/donate/moma-minimal/bsdcd-styles.css"><!--<![endif]-->
<script src="/page/-/donate/moma-minimal/modernizr.js"></script>
</head>

    <body class="full-width background-white">
        <canvas id="stars"></canvas>
        {% include default-form.html %}

<script>

(function($,w){
    var on = false,
        together = false,
        canvas = document.getElementById('stars'),
        $canvas = $(canvas),
        $w = $(w),
        ww = $w.width(),
        wh = $w.height(),
        context = canvas.getContext('2d'),
        stars = [],
        number = 300,
        speed = 5,
        g;

    $canvas.attr({'width':ww,'height':wh});

    //$('.bsdcd-outer-container').fadeTo(500,0.2);
    $('body').on('mouseenter','#bsd_contribute_cont',function(){
        together = true;
        //$('.bsdcd-outer-container').fadeTo(500,1);
    }).on('mouseleave','#bsd_contribute_cont',function(){
        together = false;
        //$('.bsdcd-outer-container').fadeTo(500,0.2);
    });


//start crazy



var particles = [];
var PULSATION = true;
var PULSATION_PERIOD = 200;
var PARTICLE_RADIUS = 16;
var partnum = 1600;
    total_area = ww * wh;
  single_particle_area = total_area / partnum;
  area_length = Math.sqrt(single_particle_area);



  function particle(i) {
    this.r = 255; //Math.round(Math.random() * 255 | 0);
    this.g = 255; //Math.round(Math.random() * 255 | 0);
    this.b = 255;// Math.round(Math.random() * 255 | 0);
    this.alpha = 1;

    this.x = (i * area_length) % ww;
    this.y = (i * area_length) / ww * area_length;


    //randomize delta to make particles sparkling 
    this.deltaOffset = Math.random() * PULSATION_PERIOD | 4;

    this.radius = 0.1 + Math.random() * 0.1;
  }
for(var i = 1; i <= partnum; i++) {
    particles.push(new particle(i));
  }
  console.log(particles.length);

var QUALITY = 3;
var FANCY_FONT = "Helvetica";
var QUALITY_TO_FONT_SIZE = [10, 20, 50, 100, 200, 350];
var QUALITY_TO_SCALE = [20, 14, 6, 3, 1.5, 0.9];
var QUALITY_TO_TEXT_POS = [10, 18, 43, 86, 170, 280];
var BLENDING = true;
var TREMBLING = 1;
var BLINK = false;
var BLUR = false;
var BACKGROUND = "#002a55";
var GLOBAL_PULSATION = true;
var tcanvas = document.createElement("canvas");
var tctx = tcanvas.getContext("2d");
var times = 0;
var otherpos = [];

    tcanvas.width = ww;
    tcanvas.height = wh;
    tctx.fillStyle = "white";
    tctx.fillRect(0, 0, ww, wh)
    tctx.fill();

    tctx.font = "bold " + QUALITY_TO_FONT_SIZE[QUALITY] + "px " + FANCY_FONT;
    var text = "MoMA" || String(Math.random()).substr(-3);

    tctx.strokeStyle = "black";
    tctx.strokeText(text, (QUALITY + 1) * 5, QUALITY_TO_TEXT_POS[QUALITY]);

    var image_data = tctx.getImageData(0, 0, ww, wh);
    var pixels = image_data.data;

    var positions = [];

    for(var i = 0; i < pixels.length; i = i + 4) {
      if(pixels[i] != 255) {
        position = {
          x: ((i / 8 % ww | 0) * QUALITY_TO_SCALE[QUALITY] | 0)+ (ww/2) - 260,
          y: (i / 14 / wh | 0) * QUALITY_TO_SCALE[QUALITY] | 0
        }
        positions.push(position);
      }
    }
    console.log(positions.length);

otherpos = positions.slice(0);

console.log(positions.length, otherpos.length);

function get_destinations() {
    console.log('orig',positions.length);
    var pa, nearest_position, po;
    for(var i = 0; i < particles.length; i++) {
      pa = particles[i];
      particles[i].alpha = 1;
      var distance = [];
      nearest_position = 0;
      if(positions.length) {
        for(var n = 0; n < positions.length; n++) {
          po = positions[n];
          distance[n] = Math.sqrt((pa.x - po.x) * (pa.x - po.x) + (pa.y - po.y) * (pa.y - po.y));
          if(n > 0) {
            if(distance[n] <= distance[nearest_position]) {
              nearest_position = n;
            }
          }
        }
        particles[i].dx = positions[nearest_position].x;
        particles[i].dy = positions[nearest_position].y;
        particles[i].distance = distance[nearest_position];

        particles[i].x = particles[i].dx;
        particles[i].y = particles[i].dy;

        var po1 = positions[nearest_position];
        for(var n = 0; n < positions.length; n++) {
          var po2 = positions[n];
          distance = Math.sqrt((po1.x - po2.x) * (po1.x - po2.x) + (po1.y - po2.y) * (po1.y - po2.y));
          if(distance <= 5) {
            positions.splice(n, 1);
          }
        }
      }
    }
  }


get_destinations();

  function drawWord() {

    var now = Date.now();

    context.globalCompositeOperation = "source-over";
        
    if(BLUR) { context.globalAlpha = 0.1; }
        else if(!BLUR && !BLINK) { context.globalAlpha = 1.0; }
        
    //context.fillStyle = BACKGROUND;
    //context.fillRect(0, 0, ww, wh)

    if(BLENDING) { context.globalCompositeOperation = "lighter"; }

    for(var i = 0; i < particles.length; i++) {
      p = particles[i];

      //in lower qualities there is not enough full pixels for all of  them - dirty hack

      if(isNaN(p.x)) continue

        


      if(!PULSATION) { // this would be 0 -> 1 
                var mod = ((GLOBAL_PULSATION ? 0 : p.deltaOffset) + now) % PULSATION_PERIOD / PULSATION_PERIOD;

        // lets make the value bouncing with sinus 
        mod = Math.sin(mod * Math.PI);
      } else { var mod = 1; }

      context.beginPath();
      //context.fillStyle = "rgb(" + p.r + ", " + p.g + ", " + p.b + ")";
      context.fillStyle = "rgba(" + p.r + ", " + p.g + ", " + p.b + ", " + p.alpha + ")";


      p.alpha = (together )?mod-0.3:0.01;

      var offset = TREMBLING ? TREMBLING * (-1 + Math.random() * 2) : 0;
            
      var radius = PARTICLE_RADIUS * p.radius;

      
    context.arc(offset + p.x | 0, offset + p.y | 0, radius * mod, Math.PI * 2, false);
    context.fill();


        if (!together){
            p.x += 46 * Math.random() * (Math.random() < .5 ? -1 : 1);
            p.y += 46 * Math.random() * (Math.random() < .5 ? -1 : 1);
        }else {
            p.x += (p.dx - p.x) / 4;
            p.y += (p.dy - p.y) / 2;
        }
    }
    times++;
  }

  //drawWord();


///end crazy



function starpredestination() {

    console.log('what',stars.length, otherpos.length);
    var pa,nearest_position,po;
    for(var i = 0; i < stars.length; i++) {
      pa = stars[i];
      stars[i].alpha = 1;
      var distance = [];
      nearest_position = 0;
      if(otherpos.length) {
        for(var n = 0; n < otherpos.length; n++) {
          po = otherpos[n];
          distance[n] = Math.sqrt((pa.x - po.x) * (pa.x - po.x) + (pa.y - po.y) * (pa.y - po.y));
          if(n > 0) {
            if(distance[n] <= distance[nearest_position]) {
              nearest_position = n;
            }
          }
        }

        stars[i].wdx = otherpos[nearest_position].x;
        stars[i].wdy = otherpos[nearest_position].y;
        stars[i].distance = distance[nearest_position];

        //stars[i].x = stars[i].wdx;
        //stars[i].y = stars[i].wdy;

        var po1 = otherpos[nearest_position];
        for(var n = 0; n < otherpos.length; n++) {
          var po2 = otherpos[n];
          distance = Math.sqrt((po1.x - po2.x) * (po1.x - po2.x) + (po1.y - po2.y) * (po1.y - po2.y));
          if(distance <= 5) {
            otherpos.splice(n, 1);
          }
        }
      }
    }

  }

    function create(){
        stars = [];
        for(var i = 0; i < number; i++) {
            stars[i] = new Circle();
            stars[i].reset();
        }
        starpredestination();
        draw();
    }
  
    function draw() {
        var ln = stars.length-1;

        context.clearRect(0,0,ww,wh);      
        
        while(on && ln--) {
            stars[ln].fade();
            stars[ln].move();
            stars[ln].draw();
        }

        //drawWord();
        requestAnimationFrame(draw);
    }

    function Circle() {
        this.s = {ttl:28000, xmax:5, ymax:2, rmax:6, rt:1};

        this.reset = function() {
            this.x = ww*Math.random();
            this.y = wh*Math.random();
            this.r = ((this.s.rmax-1)*Math.random()) + 1;
            this.dx = (Math.random()*this.s.xmax) * (Math.random() < .5 ? -1 : 1);
            this.dy = (Math.random()*this.s.ymax) * (Math.random() < .5 ? -1 : 1);
            this.hl = (this.s.ttl/speed)*(this.r/this.s.rmax);
            this.rt = Math.random()*this.hl;
            this.s.rt = Math.random()+1;
            this.stop = Math.random()*.2+.4;
        }

        this.fade = function() {
            this.rt += this.s.rt;
        }

        this.draw = function() {
            if(this.rt <= 0 || this.rt >= this.hl){ this.s.rt = this.s.rt*-1; this.rt += this.s.rt; }
            var newo = 1-(this.rt/this.hl),
                cr = this.r*newo;
                context.beginPath();
                context.arc(this.x,this.y,this.r,0,Math.PI*2,true);
                context.closePath();
                if(isNaN(newo) || newo<0 || newo>1){
                    console.log('newo', newo);
                    on = false;
                }
                if(isNaN(cr) || cr<0 || cr===-Infinity){
                    console.log('cr', cr);
                    on = false;
                }
                g = context.createRadialGradient(this.x, this.y, 0, this.x, this.y, cr);
                //g = context.createRadialGradient(5, 5, 0, 15, 15, 40);
                g.addColorStop(0.0, 'rgba(255,255,255,'+newo+')');
                g.addColorStop(this.stop, 'rgba(77,101,181,'+(newo*0.6)+')');
                g.addColorStop(1.0, 'rgba(77,101,181,0)');
                context.fillStyle = g;
                context.fill();

        }

        this.move = function() {

            if(true){
                this.x += ((this.rt/this.hl)*this.dx) / 80;
                this.y += (this.rt/this.hl)*0.2;
                if(this.x > ww || this.x < 0) { this.dx *= -1; }
                if(this.y < 0) { this.dy *= -1; }
                if(this.y > wh){  this.y = 0; }
            }
            else {
                this.x += (this.wdx - this.x) / 4;
                this.y += (this.wdy - this.y) / 2;
            }
        }
    }

    $w.on('resize',function(){
        wh = $w.height();
        ww = $w.width();
        on = (ww>785);
        if(on){ create(); }
    }).trigger('resize');

}(jQuery,window));
</script>
    </body>
</html>