<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html lang="en" class="no-js oldie ie6">
<![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="no-js oldie ie7">
<![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="no-js oldie ie8">
<![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">

        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        
        
        
        
        
                        
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
                <meta name="referrer" content="always">
        <meta name="google-translate-customization" content="4207688dd80f0303-9df5bffa9878b12e-g350add1bfba29207-17">

        <title>PeopleForBikes</title>
        
        
        
        
        
        
        
        
        
        
        <link rel="shortcut icon" type="image/x-icon" href="https://secure.peopleforbikes.org/page/-/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.peopleforbikes.org/blog/rss">
        
        
        
        

                    
            
            <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://secure.peopleforbikes.org/styles/index-desktop.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="https://secure.peopleforbikes.org/styles/index.css">
            <!--<![endif]-->
        
                <script>
        /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
        window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
        grunticon( [ "/page/-/icons-dist/icons.data.svg.css", "/page/-/icons-dist/icons.data.png.css", "/page/-/icons-dist/icons.fallback.css" ] );</script>
        
        
        <!-- blue_source_tracking enabled -->           

    </head>

    <body class="full-width background-white">
        <noscript><link href="/page/-/icons-dist/icons.fallback.css" rel="stylesheet"></noscript>
        
        <div id="container">

            <header class="global-header" role="banner">
                <div class="fixed-width">
                   <h1 id="logo" class="icon-logo"><a href="/">People for Bikes</a></h1>
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#container">
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                    </button>
                    <nav id="header-nav" class="nav global-nav" role="navigation">
                        <ul>
    <li class="node_about-us level_1 has_children first_child">
                                <a href="http://www.peopleforbikes.org/pages/about-us" >About Us</a>
                            <ul>
        <li class="node_why-we-ride level_2 first_child">
                                <a href="http://www.peopleforbikes.org/pages/why-we-ride" >Why We Ride</a>
                                </li>
        <li class="node_our-goals level_2">
                                <a href="http://www.peopleforbikes.org/pages/our-goals" >Our Goals</a>
                                </li>
        <li class="node_who-we-are level_2 has_children last_child">
                                <a href="http://www.peopleforbikes.org/pages/who-we-are" >Who We Are</a>
                                </li>
    </ul>
    </li>
    <li class="node_our-work level_1 has_children">
                                <a href="http://www.peopleforbikes.org/pages/our-work" >Our Work</a>
                            <ul>
        <li class="node_green-lane-project level_2 has_children first_child">
                                <a href="http://www.peopleforbikes.org/green-lane-project" >Green Lane Project</a>
                                </li>
        <li class="node_political-work level_2 has_children">
                                <a href="http://www.peopleforbikes.org/pages/political-work" >Political Work</a>
                                </li>
        <li class="node_community-grants level_2 has_children">
                                <a href="http://www.peopleforbikes.org/pages/community-grants" >Community Grants</a>
                                </li>
        <li class="node_national-partnerships level_2">
                                <a href="http://www.peopleforbikes.org/pages/national-partnerships" >National Partnerships</a>
                                </li>
        <li class="node_resources level_2 has_children">
                                <a href="http://www.peopleforbikes.org/resources" >Resources</a>
                                </li>
        <li class="node_statistics-library level_2 last_child">
                                <a href="http://www.peopleforbikes.org/statistics" >Statistics Library</a>
                                </li>
    </ul>
    </li>
    <li class="node_blog level_1 has_children">
                                <a href="http://www.peopleforbikes.org/blog" >Blog</a>
                            <ul>
        <li class="node_story-gallery level_2 first_child last_child">
                                <a href="http://www.peopleforbikes.org/stories" >Story Gallery</a>
                                </li>
    </ul>
    </li>
    <li class="node_take-action level_1">
                                <a href="http://www.peopleforbikes.org/take-action" >Take Action</a>
                            </li>
    <li class="node_get-local level_1">
                                <a href="http://www.peopleforbikes.org/get-local" >Get Local</a>
                            </li>
    <li class="node_donate level_1">
                                <a href="https://secure.peopleforbikes.org/page/contribute" >Donate</a>
                            </li>
    <li class="node_join level_1 last_child">
                                <a href="http://www.peopleforbikes.org/page/s/join" class="highlight">Join</a>
                            </li>
</ul>

                    </nav>

                    <div class="header-utility">
                        <ul class="nav-social social-header">
                            <li><a class="icon-facebook" target="_blank" href="https://www.facebook.com/PeopleForBikes">Facebook</a></li>
                            <li><a class="icon-twitter" target="_blank" href="https://twitter.com/peopleforbikes">Twitter</a></li>
                            <li><a class="icon-instagram" target="_blank" href="http://instagram.com/peopleforbikes">Instagram</a></li>
                        </ul> <!-- /.social-header -->

                        <ul class="nav-utility">
                            <li><a href="/pages/media-center">Media Center</a></li>
                            <li><a href="http://www.peopleforbikes.org/page/s/contact">Contact Us</a></li>
                            <li><a href="https://www.facebook.com/PeopleForBikes/app_189977524185" target="_blank">Store</a></li>
                        </ul> <!-- /.nav-utility -->

                        <form id="quick-signup" class="signup" method="post" action="http://www.peopleforbikes.org/page/s/join-us" role="form">
                            <fieldset>
                                <label for="qs-email">Email Address</label>
                                <span class="slant slant-white"><input type="email" name="email" title="Email Address" placeholder="Email" maxlength="254" id="qs-email" required="required"></span>
                                <label for="qs-zip">Zip</label>
                                <span class="slant slant-white"><input type="tel" name="zip" title="Zip Code" placeholder="Zip" id="qs-zip" maxlength="10" required="required"></span>
                                <span class="slant slant-red"><input id="qs-submit" name="submit-btn" type="submit" value="Join >"></span>
                            </fieldset>
                        </form><!-- /.signup -->
                    </div> <!-- /.header-utility -->
                </div> <!-- /.fixed-width -->
            </header> <!-- /.global-header -->
            <div class="content-wrap fixed-width clearfix">

    
   <article id="content" role="main">

        {% include default-form.html %}

    </article> <!-- /#content -->
    
             
    
    </div> <!-- /#content-wrap -->


            <footer class="global-footer" role="contentinfo">
                <div class="footer-left">
                    <ul class="footer-nav">
                        <li><a href="/page/s/contact">Contact</a></li>
                        <li><a href="/pages/policy">Policy</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                    <ul class="nav-social social-footer">
                        <li><a class="icon-facebook" target="_blank" href="https://www.facebook.com/PeopleForBikes">Facebook</a></li>
                        <li><a class="icon-twitter" target="_blank" href="https://twitter.com/peopleforbikes">Twitter</a></li>
                        <li><a class="icon-instagram" target="_blank" href="http://instagram.com/peopleforbikes">Instagram</a></li>
                    </ul> <!-- /.social-header -->

                <div id="google_translate_element"></div>

                <script type="text/javascript">
                    function googleTranslateElementInit() {
                      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
                    }
                </script>

                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
                </div> <!-- /.footer-left -->
                <div class="footer-right">
                    
                </div>
                
                
            </footer>
        </div> <!-- /#container-->
        <script src="https://secure.peopleforbikes.org/js/source-min.js"></script>
            <script src="https://secure.peopleforbikes.org/js/main.js"></script>
    <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0010/4034.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>

    
    </body>
</html>