---
layout: demo-page-list
inner: false
title: Custom Donation Forms

#examples: ['default','floating-leftside-form','traditional-two-column-form']
resolutions: ['320x800', '480x800', '768x1024', '1024x1024','1280x1024']

examples: 
    - slug: default
      title: Base
      description: Barest functional version with no extra styling applied
    - slug: floating-leftside-form
      title: Sequential Floating box
      description: Basic sequential form with space for a large background image
    - slug: traditional-two-column-form
      hash: noquickd
      title: Traditional Two-Column Form
      description: Non-sequential donation form on the right, introduction on the left. Quick Donate is disabled.

---
<div class="jumbotron">
  <div class="container">
    <h1>Blue State Digital</h1>
    <p>This is a gallery of customized pages and styles built with this tool.</p>
    <p><a href="readme.html" class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
  </div>
</div>
<div id="home" class="container">

    <!--
      <ul class="posts">
        {% for post in site.posts %}
          <li class="{%if post.thumbnail%}with-thumbnail{%endif%}"><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{%if post.internal-title %}{{ post.internal-title }}{%else%}{{ post.page-title }}{%endif%}{%if post.thumbnail %}<span class="thumbnail" style="background-image:url(img/thumbnails/{{post.thumbnail}});"></span>{%endif%}</a>{%if post.author %}, by {{ post.author }}{%endif%}</li>
        {% endfor %}
      </ul>
    -->
    <div class="row">
    {% for ex in page.examples %}
    <div class="col-lg-4 center">
        <h3><a href="/examples/{{ex.slug}}.html{{% if ex.hash %}}#{{ex.hash}}{{%endif%}}">{{ex.title}}</a></h3>
            <p>
            {{ex.description}}
            </p>
            <a href="/examples/{{ex.slug}}.html{{% if ex.hash %}}#{{ex.hash}}{{%endif%}}">{% for res in page.resolutions %}<img src="/img/screenshots/examples/{{ex.slug}}-{{res}}.png" class="img-thumbnail example-screenshots">{% endfor %}</a>
    </div>
    {% endfor %}
    </div>
</div>


