/*background scaling for huge backgrounds*/
/*works best with a relatively huge image: we've been using 2000x1380 */

    

@include respond-min( $tablet ){
    body {
        background-color: #fafafa;
        background-image: $giant-background-image; //actual image defined in variables
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center auto;
    }
}

.container.header header, .bsdcd-outer-container{
    margin-right: auto;
    margin-left:auto;
    @include respond-min( $tablet ){
        width:768px;
    }
    @include respond-min( $desktop ){
        width:940px;
    }
}