/* Labour styles */

@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic");

html, body {
  height: 100%;
}

body {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
  color: #707070;
  font-size: 1em;
  line-height: 1.4;
}

@font-face {
  font-family: 'NeoSansStd-Bold';
  src: url('https://donation.labour.org.uk/page/-/wrapper/fonts/2846E8_0_0.eot');
  src: url('https://donation.labour.org.uk/page/-/wrapper/fonts/2846E8_0_0.eot?#iefix') format('embedded-opentype'), url('https://donation.labour.org.uk/page/-/wrapper/fonts/2846E8_0_0.woff') format('woff'), url('/page/-/wrapper/fonts/2846E8_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'NeoSansStd-Regular';
  src: url('https://donation.labour.org.uk/page/-/wrapper/fonts/2846E8_1_0.eot');
  src: url('https://donation.labour.org.uk/page/-/wrapper/fonts/2846E8_1_0.eot?#iefix') format('embedded-opentype'), url('https://donation.labour.org.uk/page/-/wrapper/fonts/2846E8_1_0.woff') format('woff'), url('https://donation.labour.org.uk/page/-/wrapper/fonts/2846E8_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'NeoSansStd-Light';
  src: url('https://donation.labour.org.uk/page/-/wrapper/fonts/2846E8_2_0.eot');
  src: url('https://donation.labour.org.uk/page/-/wrapper/fonts/2846E8_2_0.eot?#iefix') format('embedded-opentype'), url('https://donation.labour.org.uk/page/-/wrapper/fonts/2846E8_2_0.woff') format('woff'), url('https://donation.labour.org.uk/page/-/wrapper/fonts/2846E8_2_0.ttf') format('truetype');
}
a {
  color: #f12f15;
}



.bsdcd-outer-container .amount_cont .preset_amount_label, .bsdcd-outer-container #submit, .bsdcd-outer-container #processing_indicator, .bsdcd-outer-container .big_btn {
box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px 1px #940302;
font-family: "NeoSansStd-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #FFF;
font-size: 19px;
font-weight: bold;
text-align: center;
}

.bsdcd-outer-container ul.amounts li.amount_cont input:checked+label{
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.bsdcd-outer-container ul.amounts li.amount_cont label.active{
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
}


#bsd_contribute_cont h1, #bsd_contribute_cont h2, #bsd_contribute_cont h3, #bsd_contribute_cont h4, #bsd_contribute_cont h5 {
    text-align: center;
    color: #707070;
    font-weight: bold;
    font-size: 1.5em;
}

.bsdcd-top-section {
  font-family: 'NeoSansStd-Regular';
    color: #000;
    padding: 10px 0;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #000;
    font-size: 13px;
    border-bottom: 1px solid #d8d8d8;
}
.bsdcd-top-section h1 {
      color: #000 !important;
      font-family: 'NeoSansStd-Bold';
      margin: 0;
      font-size: 29px !important;
}
.bsdcd-top-section h2 {
  margin: 5px 0 0;
}

header {
    padding: 20px;
}

/* Sticky Footer */
.page-wrap {
  min-height: 100%;
  margin-bottom: -110px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
#footer, .page-wrap:after {
  height: 50px;
}

#footer {
  margin-top: 2em;
  background: #000;
  background: rgba(0,0,0,.7);
  font-size: 12px;
  padding: 18px;
}
#footer p {
  margin: 0;
}
.container {
  background: #ffffff;
  width: auto;
  @include respond-min ($desktop){
    height: 94px;
  }
  @include respond-min ($desktop){
    height: 134px;
  }
}
#compliance {
  text-align: center;
}
@include respond-max($tablet - 1px){
    .other_amount_input{
        width: 80% !important;
    }
    .bsdcd-outer-container .qd_info_section{
        padding-top:12px;
    }
    body{
        background-color: $form-bg-color;
    }
    #footer {
      height:85px;
      margin-top:50px;
    }
}
header {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  @include respond-min($tablet){
    padding: 38px 0;
  }
  @include respond-max($widephone - 1px){
    padding:10px;
    img {
        width:100%;
    }
  }
}
header h1 {
    @include inline-block();
    margin: 0;
}

.container.header header, .bsdcd-outer-container, #footer{
    margin-right: auto;
    margin-left:auto;
    @include respond-min( $tablet ){
        width:768px;
    }
    @include respond-min( $desktop ){
        width:940px;
    }
}
#footer{
    @include respond-min( $tablet ){
        width:732px;
    }
    @include respond-min( $desktop ){
        width:904px;
    }
}

@include respond-min($tablet){

  .bsdcd-outer-container .bsdcd-form { 
    margin-bottom:25px;
  }

    .bsdcd-outer-container .bsdcd-top-section{
        width: 405px;
        padding: 10px 20px;
    }
}
.qd-login-links-section{
padding-top:10px;
text-align:right;
@include respond-min( $tablet ){
        bottom: 33px;
    }
}